<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Options</title>
</head>
<body>

    <h4>I think your number is {guessing}</h4>
    <br>
    <form action='/' method='POST'>
        <input type="submit" name="answer" value="too big">
        <input type="submit" name="answer" value="too small">
        <input type="submit" name="answer" value="you win">
        <input type="hidden" name="min" value="{min}">
        <input type="hidden" name="max" value="{max}">
        <input type="hidden" name="guessing" value="{guessing}">
    </form>

</body>
</html>
